<!-- <li>
  <a href="{% url 'selia:create_item' %}?{{ request.GET|remove_fields:'collection&sampling_event&sampling_event_device&licence' }}">
    {% trans 'Select collection' %}
  </a>
</li>
<li>
  <a href="{% url 'selia:create_item' %}?{{ request.GET|remove_fields:'sampling_event&sampling_event_device&licence' }}">
    {% trans 'Select sampling event' %}
  </a>
</li>
<li>
  <a href="{% url 'selia:create_item' %}?{{ request.GET|remove_fields:'sampling_event_device&licence' }}">
    {% trans 'Select deployed device' %}
  </a>
</li>
<li>
  <a href="{% url 'selia:create_item' %}?{{ request.GET|remove_fields:'licence' }}">
    {% trans 'Select licence' %}
  </a>
</li>
<li class="is-active">{% trans 'Upload files' %}</li> -->
